$color-body: #ECEFF1;
$color-body-secondary: #212933;
$color-menu: #212E33;

$secondary-button: #DEDFE0;
$secondary-button-text: #80848A;

$category-color: #646A71;

$font-primary-color: white;
$color-spotlight: #FF4800;
$color-opaque:#6A6F81;

$color-button: #FF4800;
$link-text-color: #059CE5;
$text-color: #212E33;
$description-color: #707070;
$border-color: #C4C4C4;

$top-menu-height: 8%;

$product-iris-color: #059CE5;
$product-cyberes-color: #FF344B80;
$product-saori-color: #212E33;